body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(to right,rgb(211, 115, 211), rgb(190, 103, 103), rgb(228, 201, 151));
  }
  .age-calculator {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to bottom,purple, red, orange);
  }
  .age-calculator h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #25e0ab;
  }
  .age-calculator label {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
  }
  .age-calculator input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #dd0d0d;
  }
  .age-calculator button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .age-calculator button:hover {
      background: #45a049;
    }
    .result {
        margin-top: 20px;
        font-size: 18px;
        color: white;

  }